<mat-list-item *ngIf="repo" (click)="repoClick.emit(repo)">
  <img mat-list-avatar [src]="repo?.owner?.avatar_url" />
  <span mat-line>{{ repo?.full_name }}</span>
  <span mat-line>{{ repo?.description }}</span>
  <span mat-line
    ><strong>Stars: {{ repo?.stargazers_count }}</strong
    >&nbsp;<strong>Issues: {{ repo?.open_issues_count }}</strong> Submitted
    {{ repo ? (repo.created_at | dateAgo) : "" }} by
    {{ repo?.owner?.login }}</span
  >
  <p *ngIf="repo?.starRating">Rating: {{ repo?.starRating }}</p>
</mat-list-item>
<mat-divider></mat-divider>
